<ion-view view-title="Immunisation schedule">

  <ion-content class="padding">
    
    <h2 class="title padding" >Menitorix (Haemophilus influenzae type b, Meningococcal C)</h2>  
    
    <p> 0.5ml Intramuscular.</p>
    
    <p>See also 
              <a class="item ion-chevron-right" href="#" onclick="window.open('http://www.mvec.vic.edu.au/immunisation-references/preterm-infant-immunisation/', '_system', 'location=yes'); return false;">
               Preterm infant immunisation
     </a>
     </p>
      

  </ion-content>
</ion-view>