<ion-view view-title="Immunisation schedule">

  <ion-content class="padding">
    
    <h2 class="title padding" >Gardasil 9 (Human Papillomavirus)</h2>  
    
    <p> 0.5ml Intramuscular.</p>
      
<p>2 dose course at 0 and 6-12 months </p>


      
 <p>See also 
    
     <a class="item ion-chevron-right" href="#" 
     onclick="window.open('http://www.mvec.vic.edu.au/immunisation-references/human-papilloma-virus-hpv-2/', '_system', 'location=yes'); return false;">
     Human Papilloma Virus (HPV)</a>


</p>

  </ion-content>
</ion-view>