<ion-view view-title="Immunisation schedule">

  <ion-content class="padding">
    
    <h2 class="title padding" >Menactra (Meningococcal ACWY) </h2>  
    
    <p> 0.5ml Intramuscular.</p>
      
 <p>See also 
    
     <a class="item ion-chevron-right" href="#" 
     onclick="window.open(' http://www.mvec.vic.edu.au/immunisation-references/meningococcal-disease-and-vaccines/', '_system', 'location=yes'); return false;">
     Meningococcal disease<br /> and vaccines</a>


</p>

  </ion-content>
</ion-view>