<ion-view view-title="Immunisation schedule">
  <ion-content >
  
  <h3 class="title padding" >4 months</h3>
  

  
    <ion-list>
  
      <a  class="item ion-chevron-right "  href="#/app/6weeks_1" >
Infanrix hexa <br /> (DTPa- Polio-Hib-Hep B)
        </a>
        
        
              <a  class="item ion-chevron-right "  href="#/app/6weeks_2" >
Prevenar 13 <br /> (13 valent Pneumococcal conjugate)
        </a>
        
        
        
 
      <a  class="item ion-chevron-right "  href="#/app/rotavirus" >
Rotarix    <br /> (Rotavirus)
        </a>
      
 

    
    </ion-list>
  </ion-content>
</ion-view>
