<ion-view view-title="Immunisation schedule">
  <ion-content class="padding">
    
    <h2 class="title padding" >Zostavax</h2>  
    
    <p> 0.65ml Subcutaneous.</p>
      
 <p>See also 
    
     <a class="item ion-chevron-right" href="#" 
     onclick="window.open('http://www.mvec.vic.edu.au/immunisation-references/live-attenuated-vaccines-and-immunoglobulins-or-blood-products/', '_system', 'location=yes'); return false;">
     Live-attenuated vaccines<br /> and immunoglobulins</a>
     
     
     
          <a class="item ion-chevron-right" href="#" 
     onclick="window.open('http://www.mvec.vic.edu.au/immunisation-references/zoster-shingles/', '_system', 'location=yes'); return false;">
     Zoster</a>

</p>
  </ion-content>
</ion-view>