<ion-view view-title="Immunisation schedule">
  <ion-content class="padding">
    
    <h2 class="title padding" >Boostrix (dTpa)</h2>  
    
    <p>  Ideally 28 - 32 weeks gestation. <br>
    
    
      0.5ml Intramuscular.</p>
      
      
          <p>See also 
    
     <a class="item ion-chevron-right" href="#" onclick="window.open('http://www.mvec.vic.edu.au/immunisation-references/maternal-vaccination-during-pregnancy/', '_system', 'location=yes'); return false;">
                Maternal vaccination during pregnancy
     </a>

</p>
      

  </ion-content>
</ion-view>