<ion-view view-title="Contact Us">
  <ion-content >
  
  <div class="padding" > </div>
  
  <div class="padding" >
  
 <p> 
  
  
  
  <a  class="item ion-chevron-right "   href="#" onclick="window.open('http://www.mvec.vic.edu.au/', '_system', 'location=yes'); return false;" >
Melbourne Vaccine Education Centre: <br />www.mvec.vic.edu.au

      </a>  </p>
      
     
 <p>      
    <a  class="item ion-chevron-right "    href="mailto:info@mvec.vic.edu.au" >
Email:	info@mvec.vic.edu.au

      </a>  </p>   
      
  <p>    <a  class="item ion-chevron-right "    href="tel:1300882924" >
Immunisation Hotline :<br />	1300 882 924 Option 1

      </a>      </p>    
      
  
  


  
  </div>
    
  </ion-content>
</ion-view>
