<ion-view view-title="Disclaimer">
  <ion-content >
  
  <div class="padding" > </div>
  
  <div class="padding" >
  
 <p> Reviewed by: Nigel Crawford (Paediatrician, The Royal Children's Hospital, Melbourne) & Rachael McGuire (MVEC Immunisation Nurse Educator) </p>
 <p> Date: March 2016 </p>
 <p> Materials in this App are updated as new information and vaccines become available. The Melbourne Vaccine Education Centre (MVEC) staff regularly reviews materials for accuracy. </p>
 <p>The content covered in this app aims to facilitate the immunisation of Victorian children and adults with the latest recommendations. Please refer to your relevant state health authorities for schedules appropriate for those living outside of Victoria. Any feedback is welcome via email:
 
     <a  class="item ion-chevron-right "    href="mailto:info@mvec.vic.edu.au" >
	 info@mvec.vic.edu.au</a>   
 
 
 </p>
  
  
  </div>
    
  </ion-content>
</ion-view>
