<ion-view view-title="Immunisation schedule">
  <ion-content class="padding">
    
    <h2 class="title padding" >Hepatitis B catch-up program Adolescents</h2>  
    
  <p>  
  
  
  
2013 is the final year of the Hepatitis B catch-up program for Adolescents aged 11-15 years who have not previously had hepatitis B vaccine. The vaccine will not be administered in the secondary school setting, but can be given from a doctor or local council immunisation service. 
      
      
      
      </p>
      
      
      
      <p>
      
      
Give 2 doses 4 - 6 months apart (using adult formulation).

      
      
      
      
      </p>
      
      

      
      
      
    <p>See also 
    
     <a class="item ion-chevron-right" href="#" onclick="window.open('http://www.health.vic.gov.au/immunisation/resources/hepatitis-b-vaccine.htm', 'location=yes'); return false;">
                Victorian info sheet
     </a>

</p>
  </ion-content>
</ion-view>