<ion-view view-title="Immunisation schedule">
  <ion-content class="padding">
    
    <h2 class="title padding" >Hep B booster Prem option</h2>  
    
  <p>
  
  Premature infants &lt; 32 weeks and/or &lt;2000g require an additional Hep B booster dose of vaccine at 12 months </p>
      
      
      

      

      
      
      
    <p>See also 
    
     <a class="item ion-chevron-right" href="#" onclick="window.open('http://docs.health.vic.gov.au/docs/doc/C7472BE798922FDCCA257903000DD6E8/$FILE/PH028%20Infant%20Hep%20B%20A4%200412.pdf', 'location=yes'); return false;">
                Victorian info sheet
     </a>

</p>
  </ion-content>
</ion-view>