<ion-view view-title="Immunisation schedule">
  <ion-content class="padding">
    
    <h2 class="title padding" >MMR-V vaccine</h2>  
    
  <p>  
  
  
  
HPV vaccine is funded for boys and girls in Year 7 from 2013.
      
      
      
      </p>
      
      
      
      <p>
      
      
For a two year period, HPV vaccine program for Year 9 secondary school boys will be offered at the same time as the Year 7 boys program. 
      
      
      
      
      </p>
      
      
            <p>
      
Following the 1st dose, the 2nd dose is given 2 months after 1st dose; 3rd dose is given 4 months after 2nd dose.
      
      
      
      
      </p>
      
      
      
    <p>See also 
    
     <a class="item ion-chevron-right" href="#" onclick="window.open('http://www.health.vic.gov.au/immunisation/resources/human-papillomavirus.htm', '_system', 'location=yes'); return false;">
                Victorian info sheet
     </a>

</p>
  </ion-content>
</ion-view>