<ion-view view-title="Immunisation schedule">
  <ion-content class="padding">
    
    <h2 class="title padding" >Influenza vaccine</h2>  
    
  <p>
  
Can be given to any infant > 6 months.

 </p>
      
      
      

  <p>
  
Only funded in Victorian schedule for children at higher risk who are recommended annual influenza vaccine. 

 </p>
 
   <p>
  
Children < 10 years require 2 doses in the first year they receive the vaccine. 

 </p>
 
   <p>
 Dose: <br />

    6 months - &lt; 3 years: 0.25ml <br />

    3 years and over: .0.5ml <br />
 
  
  


 </p>
 
 
 
     <p>
  
FluvaxTM vaccine [CSL] was associated with an increased rate of febrile convulsions and is not licensed for children < 5 years and not recommended if < 10 years

 </p>
 
 
      <p>
  
If &gt;6-months of age and &lt; 6-years of age recommend separating seasonal influenza vaccine and Pneumococcal conjugate vaccine (PCV13) by minimum of 3-days. This is because of small increased risk of febrile seizures if vaccines administered on the same day </p>
      
      

      
      
      
    <p>See also <br />
    
     <a class="item ion-chevron-right" href="#" onclick="window.open('http://www.health.vic.gov.au/immunisation/seasonal-influenza-vaccine.htm', 'location=yes'); return false;">
               2013 Government seasonal influenza vaccine information
     </a>
     
     
     
          <a class="item ion-chevron-right" href="#" onclick="window.open('http://www.health.vic.gov.au/immunisation/factsheets/influenza.htm', 'location=yes'); return false;">
                Victorian info sheet
     </a>
     
     
     

</p>
  </ion-content>
</ion-view>