<ion-view view-title="">
 <ion-content   >
   
 <h2 class="title padding" >Immunisation schedule</h2> 
 
   <div class="row">
    <div class="col-100">  	

    </div> 
   </div>
 
   <ion-list>
   
       <a  class=" item ion-chevron-right "  href="#/app/pregnancy" >   Pregnancy </a>

       <a  class=" item ion-chevron-right "  href="#/app/birth" >     Birth </a>
      
       <a  class="item ion-chevron-right " href="#/app/2m" >   6 weeks  </a>
       
       <a  class=" item ion-chevron-right " href="#/app/4m" >   4 months </a>

       <a  class="item ion-chevron-right " href="#/app/6m" >    6 months </a>
 
       <a  class="item ion-chevron-right " href="#/app/12m" >   12 months </a>

       <a  class="item ion-chevron-right " href="#/app/18m" >   18 months </a>

       <a  class="item ion-chevron-right "  href="#/app/3y" >  4 years </a>
        
       <a  class="item ion-chevron-right " href="#/app/7y" >   12-13 years/Year 7 of secondary school </a>   
       
       <a  class="item ion-chevron-right " href="#/app/15_16_years" >  15-16 years/Year 10 of secondary school  </a>     
      
       <a  class="item ion-chevron-right " href="#/app/65y" >  From 65 years </a> 
       
       <a  class="item ion-chevron-right " href="#/app/70y" >  70 - 79 years </a> 
              
   
       

       
       
       
      
     </ion-list>




 </ion-tabs> 
</ion-view>


    

