<ion-view view-title="Immunisation schedule">
  <ion-content class="padding">
    
    <h2 class="title padding" >Meningococcal C vaccine</h2>  
    
  <p>  
  
  
  
Meningococcal C vaccine can be given < 1 yr but is not currently funded 
      
      
      
      </p>
      
      
      
      <p>
      
      
2 - 6 months 3 doses
      
      
      
      
      </p>
      
      
      
            <p>
      
      
6-12 months 2 doses

      
      
      
      
      </p>
      
      
      
    <p>See also 
    
     <a class="item ion-chevron-right" href="#" onclick="window.open('http://www.health.vic.gov.au/immunisation/factsheets/meningococcal-group-c.htm', 'location=yes'); return false;">
                Victorian info sheet
     </a>

</p>
  </ion-content>
</ion-view>