<ion-view view-title="Immunisation schedule">
  <ion-content class="padding">
    
    <h2 class="title padding" >MMR-V vaccine</h2>  
    
  <p>  
  
  
  
Do Not use Priorix-Tetra at 12 months of age or as the first dose of MMR vaccine because there is a small increased risk of febrile convulsion with the combined vaccine compared to administration separately. 
      
      
      
      </p>
      
      
      
      <p>
      
      
      MMR vaccine should only be used at 12 months or as the first dose of an MMR vaccine if a child under four years of age is on a catch up schedule.
      
      
      
      
      </p>
      
    <p>See also 
    
     <a class="item ion-chevron-right" href="#" onclick="window.open('http://www.health.vic.gov.au/immunisation/factsheets/mmrv.htm', '_system', 'location=yes'); return false;">
                Victorian info sheet
     </a>

</p>
  </ion-content>
</ion-view>