<ion-view view-title="Immunisation schedule">
  <ion-content class="padding">
    
    <h2 class="title padding" >MMR II/Priorix (MMR)</h2>  
    
    <p>  Given at least 4 weeks PRIOR to pregnancy for Rubella non-immune women. <br>
    
    
      0.5ml Intramuscular or Subcutaneous.</p>
      
    <p>See also 
    
     <a class="item ion-chevron-right" href="#" onclick="window.open('http://www.mvec.vic.edu.au/immunisation-references/maternal-vaccination-during-pregnancy/', '_system', 'location=yes'); return false;">
                Maternal vaccination during pregnancy
     </a>

</p>
  </ion-content>
</ion-view>