<ion-view view-title="Immunisation schedule">
  <ion-content >
  
  <h2 class="title padding" >Other states</h2>
  

  
    <ion-list>
    

		
             <a  class="item ion-chevron-right "  onclick="window.open('http://www.immunise.health.gov.au/internet/immunise/publishing.nsf/Content/4CB920F0D49C61F1CA257B2600828523/$File/nip-schedule-card-hib-menc-update.pdf', '_system', 'location=yes'); return false;" >
        
        National 
        </a>

      
        

		     <a  class="item ion-chevron-right " onclick="window.open('http://www.immunise.health.gov.au/internet/immunise/publishing.nsf/Content/4CB920F0D49C61F1CA257B2600828523/$File/nip-schedule-card-hib-menc-update.pdf', '_system', 'location=yes'); return false;" >
        Australian Capital Territory
        </a>

      
      

				     <a  class="item ion-chevron-right " onclick="window.open('http://www.health.nsw.gov.au/immunisation/Documents/nsw_schedule_july_13.pdf', '_system', 'location=yes'); return false;" >
        New South Wales
                </a>
 
      
      
     
		     <a  class="item ion-chevron-right "  onclick="window.open('http://www.public.health.wa.gov.au/cproot/3862/2/western-australian-immunisation-schedule-2-August-2013.pdf', '_system', 'location=yes'); return false;" >
        Western Australia
        </a>
 
      
       		     <a  class="item ion-chevron-right "  onclick="window.open('http://www.health.nt.gov.au/library/scripts/objectifyMedia.aspx?file=pdf/78/30.pdf&siteID=1&str_title=Vaccine%20schedule.pdf', '_system', 'location=yes'); return false;" >     
		Northern Territory
                </a>
      
      

		     <a  class="item ion-chevron-right " onclick="window.open('http://www.health.qld.gov.au/immunisation/documents/nips_antigens.pdf', '_system', 'location=yes'); return false;"  >
        Queensland
        </a>

      
		     <a  class="item ion-chevron-right " onclick="window.open('http://www.health.sa.gov.au/immunisationcalculator/SAJul2013.pdf', '_system', 'location=yes'); return false;" >
        South Australia
        </a>

      

		     <a  class="item ion-chevron-right "   onclick="window.open('http://www.dhhs.tas.gov.au/__data/assets/pdf_file/0010/88759/Adult_and_Child_Immunisation_Schedule_July_2013.pdf', '_system', 'location=yes'); return false;"  >
        Tasmania 
        </a>

    
		     <a  class="item ion-chevron-right "  onclick="window.open('http://www.ncirs.edu.au/immunisation/schedules/Childhood-schedule-table-October-2013.pdf', '_system', 'location=yes'); return false;" >
        National Centre for Immunisation Research and 
        </a>

      

		     <a  class="item ion-chevron-right "  onclick="window.open('http://www.ncirs.edu.au/immunisation/schedules/Childhood-schedule-table-October-2013.pdf', '_system', 'location=yes'); return false;" >
        Surveillance of Vaccine Preventable Diseases
        </a>

      
      
    </ion-list>
  </ion-content>
</ion-view>
