<ion-view view-title="Immunisation schedule">
  <ion-content class="padding">
    
    <h2 class="title padding" >Pneumococcal vaccine</h2>  
    
  <p>  
  
  
  
A fourth dose of Pneumococcal conjugate vaccine (13vPCV) is recommended for medical at-risk patients and a Pneumococcal polysaccharide vaccine (23vPPV) recommended at 4 years of age.
      
      
      
      </p>
      
    <p>See also 
    
     <a class="item ion-chevron-right" href="#" onclick="window.open('http://www.health.vic.gov.au/immunisation/factsheets/childhood-pneumococcal-disease.htm', '_system', 'location=yes'); return false;">
                Victorian info sheet
     </a>

</p>
  </ion-content>
</ion-view>