<ion-view view-title="Immunisation schedule">
  <ion-content >
  
  <h3 class="title padding" >Pregnancy</h3>  

    <ion-list>



      <a  class="item ion-chevron-right "  href="#/app/boostrix"  >
Boostrix (dTpa)
        </a>
      
  
      <a  class="item ion-chevron-right "  href="#/app/a_Influenza" >
Annual Influenza
        </a>
        
              <a  class="item ion-chevron-right "  href="#/app/mmr_ii" >
<span style="color:red;">MMR II/Priorix (MMR)</span> 
        </a>
  

    </ion-list>
    
    
            
  </ion-content>
</ion-view>
