pregnancy<ion-view view-title="">
  <ion-content class="padding">
    
    <h2 class="title padding" >Annual Influenza</h2>  
    
 <p> 
    
     <a class="item ion-chevron-right" href="#" onclick="window.open('http://www.mvec.vic.edu.au/immunisation-references/influenza-vaccine-recommendations-2016/', '_system', 'location=yes'); return false;">
     Click for correct dosing and brands</a>

 </p>
      
 <p>See also 
    
     <a class="item ion-chevron-right" href="#" onclick="window.open('http://www.mvec.vic.edu.au/immunisation-references/children-with-cardiac-disease/', '_system', 'location=yes'); return false;">Children with cardiac disease</a>
     
     <a class="item ion-chevron-right" href="#" onclick="window.open('http://www.mvec.vic.edu.au/immunisation-references/preterm-infant-immunisation/', '_system', 'location=yes'); return false;">
     Preterm infant immunisation </a>

</p>
  </ion-content>
</ion-view>