<ion-view view-title="">
 <ion-content  >
   
  <h2 class="title padding" >Special risk groups</h2>
  
 
   <ion-list>

      <a  class="item ion-chevron-right " href="#" onclick="window.open('http://www.mvec.vic.edu.au/immunisation-references/aboriginal-torres-strait-islander-children/', '_system', 'location=yes'); return false;"  >
Aboriginal and Torres Strait Islander
        </a>


     <a  class="item ion-chevron-right " href="#" onclick="window.open('http://www.mvec.vic.edu.au/immunisation-references/aspleniahyposplenia/', '_system', 'location=yes'); return false;"  >
Asplenia/Hyposplenia
      </a>

      
      

      <a  class="item ion-chevron-right " href="#" onclick="window.open('http://www.mvec.vic.edu.au/immunisation-references/children-with-cardiac-disease/', '_system', 'location=yes'); return false;"  >
Cardiac
      </a>

      
      
      <a  class="item ion-chevron-right "   href="#" onclick="window.open('http://www.mvec.vic.edu.au/immunisation-references/cancer-immunisation-guideline-chemotherapy-and-post-hematopoietic-stem-cell-transplant/', '_system', 'location=yes'); return false;" >
Oncology

      </a>
      
            <a  class="item ion-chevron-right "   href="#" onclick="window.open('http://www.mvec.vic.edu.au/immunisation-references/preterm-infant-immunisation/', '_system', 'location=yes'); return false;" >
Preterm infants

      </a>
      
      

          <a  class="item ion-chevron-right "   href="#" onclick="window.open('http://www.mvec.vic.edu.au/immunisation-references/solid-organ-transplant-recipient/', '_system', 'location=yes'); return false;" >
Solid Organ Transplant


      </a>
      
            <a   class="item ion-chevron-right "  href="#/app/travel"  >
Travel

      </a>  
   
     
      
    </ion-list>

</ion-tabs> 
</ion-view>


    

