<ion-view view-title="">
 <ion-content  >
   
  <h2 class="title padding" >Special risk groups</h2>
  
 
   <ion-list>

      <a  class="item ion-chevron-right " href="#/app/risk_1"  >
From 6 months of age<br />
        with medical risk factors
        </a>


     <a  class="item ion-chevron-right " href="#/app/sr-12m-pre"  >
		12 months <br />
      Premature babies &lt;32 weeks <br />and/or &lt;2000g birth weight
      </a>

      
      

      <a  class="item ion-chevron-right " href="#/app/sr-12m"  >
		12 months <br />
      with underlying medical risk factors <br />or <28 weeks gestation
      </a>

      
      
      <a  class="item ion-chevron-right "   href="#/app/sr-4y" >
         From 2 years <br />
         with medical risk factors

      </a>

      
   
     
      
    </ion-list>

</ion-tabs> 
</ion-view>


    

