<ion-view view-title="Special risk groups">
  <ion-content >
  
  <h2 class="title padding" >		12 months <br />
      with underlying medical risk factors <br />or <28 weeks gestation</h2>
  

  
  
    
    
      <h3 class="title padding" >Prevenar 13 (13 valent Pneumoccocal conjugate)</h3>
  
<p class="title padding" >
  0.5ml Intramuscular
</p>
   
    
<p class="title padding">See also 
    
     <a class="item ion-chevron-right" href="#" onclick="window.open('http://www.mvec.vic.edu.au/immunisation-references/preterm-infant-immunisation/', '_system', 'location=yes'); return false;">
               Preterm infant immunisation
     </a>	
     
     <a class="item ion-chevron-right" href="#" onclick="window.open('http://www.mvec.vic.edu.au/immunisation-references/children-with-cardiac-disease/', '_system', 'location=yes'); return false;">
               Children with cardiac disease
     </a>	
     
     <a class="item ion-chevron-right" href="#" onclick="window.open('http://www.mvec.vic.edu.au/immunisation-references/aspleniahyposplenia/', '_system', 'location=yes'); return false;">
              Asplenia/hyposplenia
     </a>							


</p>
    
    
    
  </ion-content>
</ion-view>
