<ion-view view-title="Special risk groups">
  <ion-content class="padding" >
  
  <h2 class="title padding" >12 months premature babies <br />&lt;32 weeks and/or &lt;2000g</h2>
  
<p>
  

  
 
    
      <h3>H-B-Vax II (Hepatitis B)</h3></p>
  
<p>
  0.5ml Intramuscular
</p>
   
    
<p>See also 
    
     <a class="item ion-chevron-right" href="#" onclick="window.open('http://www.mvec.vic.edu.au/immunisation-references/preterm-infant-immunisation/', '_system', 'location=yes'); return false;">
               Preterm infants  
     </a>								


</p>
    
    

    
    
    
  </ion-content>
</ion-view>
