<ion-view view-title="Special risk groups">
  <ion-content >
  
  
  <h2 class="title padding" >Pneumovax 23 (23 valent Pneumoccocal polysaccharide)</h2>  
    
  <p>0.5ml Intramuscular.</p>

    <p>See also 
       <a  class="item ion-chevron-right "  
       onclick="window.open('http://www.mvec.vic.edu.au/immunisation-references/preterm-infant-immunisation/', '_system', 'location=yes');
        return false;" >Preterm infant immunisation</a>   
       
       
        <a  class="item ion-chevron-right "  
       onclick="window.open('http://www.mvec.vic.edu.au/immunisation-references/children-with-cardiac-disease/', '_system', 'location=yes');
        return false;" >Children with cardiac disease</a>   
       
       
       <a  class="item ion-chevron-right "  
       onclick="window.open('http://www.mvec.vic.edu.au/immunisation-references/aspleniahyposplenia/', '_system', 'location=yes');
        return false;" >Aspleniahyposplenia</a>   
</p>




  </ion-content>
</ion-view>
