<ion-view view-title="Special risk groups">
  <ion-content >
  
  
  <h2 class="title padding" >Travel</h2>  
    


    <p>
       <a  class="item ion-chevron-right "  
       onclick="window.open('http://www.mvec.vic.edu.au/immunisation-references/bcg-vaccine/', '_system', 'location=yes');
        return false;" >BCG vaccine</a>   
       
       
        <a  class="item ion-chevron-right "  
       onclick="window.open('http://www.mvec.vic.edu.au/immunisation-references/travel-medicine/', '_system', 'location=yes');
        return false;" >Travel medicine</a>   
        
        
       <a  class="item ion-chevron-right "  
       onclick="window.open('http://www.mvec.vic.edu.au/immunisation-references/vaccine-schedule-by-country/', '_system', 'location=yes');
        return false;" >Vaccine schedule by country</a>   
       
</p>







  </ion-content>
</ion-view>
