<ion-view view-title="">
  <ion-content class="padding">
    
    <h2 class="title padding" >Varicella vaccine</h2>  
    
  <p>  
  
  
  
A catch-up dose of varicella vaccine is given to students in Year 7 who have not had chickenpox or varicella vaccine.
      
      
      
      </p>
      
    <p>See also 
    
     <a class="item ion-chevron-right" href="#" onclick="window.open('http://www.health.vic.gov.au/immunisation/resources/chickenpox-vaccination-year-seven-program.htm', '_system', 'location=yes'); return false;">
                Victorian info sheet
     </a>

</p>
  </ion-content>
</ion-view>