<ion-view view-title="">
 <ion-content  class="padding" >
   
  <h2 class="title padding" >Victorian immunisation programs</h2>
  
   <ion-list>
      
      <a  class="item ion-chevron-right " href="#/app/#" >
         Maternal Vaccinations
      </a>
      
      <a  class="item ion-chevron-right "  href="#/app/#" >
         Over 65 years ( influenza & Pneumococcal)
      </a>
      
      <a  class="item ion-chevron-right " href="#/app/#" >
    	70 -79 years (Herpes Zoster)
      </a>
      
    </ion-list>

</ion-tabs> 
</ion-view>


    

